/* Top Panel 1 Menu Buttons */
#MainMenu1 {
	position:absolute; 
	width: 100px; 
	height:auto; 
	z-index:1; 
	left: 5px; 
	top: 90px; 
	background-repeat: no-repeat; 
	border: 1px none #000000;
}

.MainMenu1Button {
	position: relative;
	width:100px;
	height:25px;
	z-index:1;
	/*background-image: url(TemplateImages/Background.png);
	background-repeat: no-repeat;*/
	background-color: #c22826;
	/*border: 5px groove #FFFFFF;*/
	border: 4px double #FFFFFF;
	
}

.MainMenu1Button2 {
	top: 15px; 
	left: -25px;
}

.MainMenu1Button3 {
	top: 30px; 
	left: -25px;
}

.MainMenu1Button4 {
	top: 45px; 
	left: -25px;
}

.MainMenu1Button5 {
	top: 60px; 
	left: -25px;
}

.MainMenu1Button6 {
	top: 75px; 
	left: -25px;
}

.MainMenu1Button7 {
	top: 90px; 
	left: -25px;
}

.MainMenu1Button8 {
	top: 105px; 
	left: -25px;
}

.MainMenu1Button9 {
	top: 120px; 
	left: -25px;
}

.MainMenu1Button10 {
	top: 135px; 
	left: -25px;
}

.MainMenu1Button11 {
	top: 150px; 
	left: -25px;
}

.MainMenu1Button12 {
	top: 165px; 
	left: -25px;
}

.MainMenu1Button13 {
	top: 180px; 
	left: -25px;
}

.MainMenu1Button14 {
	top: 195px; 
	left: -25px;
}

.MainMenu1Button15 {
	top: 210px; 
	left: -25px;
}

.MainMenu1Button16 {
	top: 225px; 
	left: -25px;
}

.MainMenu1Button17 {
	top: 240px; 
	left: -25px;
}

.MainMenu1Button18 {
	top: 255px; 
	left: -25px;
}

.MainMenu1Button19 {
	top: 270px; 
	left: -25px;
}

.MainMenu1Button20 {
	top: 285px; 
	left: -25px;
}

/* Top Panel 1 Menu Buttons Text */

.MainMenu1ButtonText {
	position:relative; 
	height:25px;
	top: 0px;
	width:100px;
}

/* Top Panel 1 Drop Down */

.MainMenu1DropDown {
	/*position:relative;*/
	/*background-image: url(http://buttons.travisnapoleansmith.com/Drop-Down.png);
	background-repeat: no-repeat;*/
	/*border: 1px none #000000; 
	width: 152px; 
	height:112px;
	float: left;*/
	left: 61px;
	/*top: 181px;*/
	/*z-index: 70;*/
	/*background-color: #FFFFFF;*/
}

.MainMenu1DropDown1 {
	position: relative;
	border: 1px none #000000; 
	width:152px; 
	height:112px;
	z-index: 70;
	float: left;
	left: 181px;
}


.MainMenu1DropDown1-1 {
	top: 15px;
}
.MainMenu1DropDown1-2 {
	top: 41px;
}

.MainMenu1DropDown1-3 {
	top: 67px;
}

.MainMenu1DropDown1-4 {
	top: 93px;
}

.MainMenu1DropDown1-5 {
	top: 119px;
}

.MainMenu1DropDown1-6 {
	top: 145px;
}

.MainMenu1DropDown1-7 {
	top: 171px;
}

.MainMenu1DropDown1-8 {
	top: 197px;
}

.MainMenu1DropDown1-9 {
	top: 223px;
}

.MainMenu1DropDown1-10 {
	top: 249px;
}

.MainMenu1DropDown1-11 {
	top: 275px;
}
.MainMenu1DropDown1-12 {
	top: 301px;
}

.MainMenu1DropDown1-13 {
	top: 327px;
}

.MainMenu1DropDown1-14 {
	top: 353px;
}

.MainMenu1DropDown1-15 {
	top: 379px;
}

.MainMenu1DropDown1-16 {
	top: 405px;
}

.MainMenu1DropDown1-17 {
	top: 431px;
}

.MainMenu1DropDown1-18 {
	top: 457px;
}

.MainMenu1DropDown1-19 {
	top: 483px;
}

.MainMenu1DropDown1-20 {
	top: 510px;
}

.MainMenu1DropDown2 {
	left: 150px;
}

.MainMenu1DropDown3 {
	left: 91px;
}

/* Top Panel 1 Drop Down Text */

.MainMenu1DropDownText {
	position:relative; 
	text-align: left;
	height:21px; 
	left: 105px; 
	top: -10px;
	float: left;
	background-color: #FFFFFF;
	/*background-color: #1E3221;*/
	padding-left: 10px;
	padding-top: 3px;
	border: 1px groove #000000;
	/*border: 4px double #FFFFFF;*/
}

.MainMenu1DropDownText1 {
	width: 170px; 
}

.MainMenu1DropDownText2 {
	width: 60px; 
}

.MainMenu1DropDownText3 {
	left: 26px;
}

.MainMenu1DropDownText4 {
	float: left;
	left: 26px;
	width: 80px;
}
