
#MainMenu1 li {
	list-style-type: none;
	margin: -15px;
	position: relative;
	left: -25px; 
}

#MainMenu1 a:link {
	text-decoration: none;
}

#MainMenu1 a:visited {
	text-decoration: none;
}

#MainMenu1 a:hover {
	text-decoration: none;
}

li.menuparent a:visited {
	color: #FFFFFF;
}

ul.MenuText3 a:visited {
	color: #006600;
}

#MainMenu1 a:active {
	text-decoration: none;
}

/*#MainMenu1 a:hover {
	color: #FF0099;
}
*/
/*#MainMenu1 li a:hover {*/
	/*background-color: #FF3300;*/
	/*background-color: #555555;*/
	/*background-color: #CCCCCC;*/
	/*background-color: #FCFBFA;*/
/*}*/

/* Sub Menu Hovering Color */
#MainMenu1 a.MainMenu1DropDownText:hover {
	background-color: #CCCCCC;
}

/* Top Menu Hovering Color*/
#MainMenu1 a.MainMenu1ButtonText:hover {
	background-color: #1E3221;
	/*background-color: #555555;*/
}

#MainMenu1 a.MainMenu1ButtonText:link {
	color: #FFFFFF;
}

#MainMenu1 a.MainMenu1DropDownText:link {
	color: #006600;
	/*color: #c22826;*/
}


#MainMenu1 div.container {
	vertical-align: middle;
}

.MenuText1 {
	font-size: 14px;
	color: #006600;
	/*color: #c22826;*/
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.MenuText2 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.MenuText3 {
	font-size: 60%;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.MenuTextHeadings1 {
	font-size: 18px;
	color: #FFFFFF;
	font-family: Arial;
}

