#BodyLayer1 body,td,th {
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;

}
body {
	background-color: #1E3221;
	margin-left: .5in;
	margin-top: .5in;
	margin-right: .5in;
	margin-bottom: .5px;

}
#BodyLayer1 table {
	margin-left: auto; 
	margin-right: auto;

}
#BodyLayer1 td {
	text-align: center;
	color: #FFFFFF;

}
.palign {
	text-align: center;

}
#BodyLayer1 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #006600;

}
#BodyLayer1 h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 5px;

}
#BodyLayer1 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 5px;

}
#BodyLayer1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-indent: 5px;
	width: 685px;

}
#BodyLayer1 img {
	/*border: 5px groove #000000;*/

}
#BodyLayer1 a:link {
	font-style: normal;
	color: #49dc10;
	text-decoration: underline;

}
#BodyLayer1 a:visited {
	font-style: italic;
	color: #FFFFFF;
	text-decoration: underline;

}
#BodyLayer1 a:hover {
	font-style: italic;
	color: #f6e660;
	text-decoration: underline;

}
#BodyLayer1 a:active {
	font-style: normal;
	color: #FFFF00;
	text-decoration: underline;

}
#LogoBox1 {
	position:absolute;
	width:auto;
	height: auto; 
	z-index: 1400;
	top: 16px;
	left: 25px; 	

}
#BodyLayer1 {
	position:absolute; 
	width:700px; 
	height:auto; 
	z-index: 0; 
	left: 121px; 
	top: 16px; 
	background-color: #c22826; 
	border: 1px none #000000;

}
#BodyLayer2 {
	position:absolute; 
	width:700px; 
	/*height:742px;*/ 
	z-index: 0; 
	left: 124px; 
	top: 16px; 
	background-color: #999999; 
	layer-background-color: #999999; 
	border: 1px none #000000;

}
#BodyLayer2 p {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium
	font-style: normal;
	font-weight: normal;
	color: #ffffff;

}
#BodyLayer2 img {
	border: 1px none #000000;

}

.address {
	text-align: center;
	

}
.tablebios td{
	width: 150px;

}
.tablebios td:first-child {
	font-weight: bold;
}

.h1class {
	text-align: center;

}
.h1class2 {
	text-align: center;
	color: #ffffff;

}
.pclass {
	padding-left: 10px;

}
.Sponsors-Panel {
	position: fixed;
	top: 16px;
	left: 840px;
	width: 150px;
	height: auto;
	background-color: #c22826;

}
h2.Sponsors-Heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;

}
hr.Sponsors-Separator {
	color: #FFFFFF;

}
.Sponsors {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-style: italic;
	color: #FFFFFF;
	text-align: center;
	width: 140px;
	margin-bottom: -5px;
	

}
.Sponsors-Image {
	position: relative;
	left: 10px;
	max-width: 130px;
	overflow: hidden;
	text-align: center;

}
.Sponsors p a:link {
	font-style: normal;
	color: #49dc10;
	text-decoration: underline;

}
.Sponsors p a:visited {
	font-style: italic;
	color: #FFFFFF;
	text-decoration: underline;

}
.Sponsors p a:hover {
	font-style: italic;
	color: #f6e660;
	text-decoration: underline;

}
.Sponsors p a:active {
	font-style: normal;
	color: #FFFF00;
	text-decoration: underline;

}

